name: OpenPassport CI/CD
on:
  workflow_call:
    inputs:
      runner:
        description: The runner
        required: true
        type: string
      environment:
        description: The GitHub Actions environment
        required: true
        type: string
      tag:
        description: The tag
        required: true
        type: string

jobs:
  prod:
    runs-on: [self-hosted, "${{ inputs.runner }}"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          # lfs: true

      # - name: Checkout lfs objects
      #   run: git lfs checkout

      - name: Install Artifacts
        run: |
          ARTIFACT_URL=$(curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer ${{ secrets.PAT_TOKEN }}" \
            "https://api.github.com/repos/celo-org/self/actions/artifacts" \
            | jq '.artifacts | max_by(.created_at)' | jq -r .'archive_download_url')
          echo "ARTIFACT_URL=$ARTIFACT_URL" >> $GITHUB_ENV

      - name: Download and unpack artifact
        run: |
          curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -o artifact.zip \
            "$ARTIFACT_URL"

      - name: Login to AWS
        run: |
          aws --profile default configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws --profile default configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Download and unpack zkeys
        run: |
          rm -rf zkeys
          # curl -L -o zkeys.tar.zst https://self-protocol.s3.eu-west-1.amazonaws.com/zkeys.tar.zst
          aws s3 cp s3://self-protocol/verifiers_final.tar.zst .
          tar --zstd -xf zkeys.tar.zst
          mkdir zkeys
          for file in *_final.zkey; do mv "$file" "zkeys/${file%_final.zkey}.zkey"; done

      - name: Reformat zkeys
        run: |
          mkdir -p zkeys/register zkeys/disclose zkeys/dsc
          mv zkeys/register_* zkeys/register/
          mv zkeys/vc_and_disclose.zkey zkeys/disclose/ 
          mv zkeys/dsc_* zkeys/dsc/

      - name: Init submodules
        run: |
          git submodule update --init
          cd rapidsnark && git submodule update --init && cd ..

      - name: Login to Docker Hub
        run: |
          sudo docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker enclave images
        run: |
          sudo docker build --push --build-arg PROOFTYPE=register -f Dockerfile.tee --target=nitro-enclave -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-register:${{ inputs.tag }} .
          sudo docker build --push --build-arg PROOFTYPE=disclose -f Dockerfile.tee --target=nitro-enclave -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-disclose:${{ inputs.tag }} .
          sudo docker build --push --build-arg PROOFTYPE=dsc      -f Dockerfile.tee --target=nitro-enclave -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-dsc:${{ inputs.tag }} .

      - name: Cleanup zkeys
        run: rm -rf zkeys*

      - name: Build eifs
        run: |
          mkdir measurements && sudo chmod 777 measurements
          touch measurements/register.log && sudo chmod 777 measurements/register.log
          touch measurements/disclose.log && sudo chmod 777 measurements/disclose.log
          touch measurements/dsc.log && sudo chmod 777 measurements/dsc.log
          sudo nitro-cli build-enclave --docker-uri ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-register --output-file prover-server-register.eif > measurements/register.log 2>&1
          sudo nitro-cli build-enclave --docker-uri ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-disclose --output-file prover-server-disclose.eif > measurements/disclose.log 2>&1
          sudo nitro-cli build-enclave --docker-uri ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-dsc --output-file prover-server-dsc.eif > measurements/dsc.log 2>&1

      - name: Build and push Docker instance images
        run: |
          sudo docker build --push --build-arg PROOFTYPE=register -f Dockerfile.tee --target=instance -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-register-instance:${{ inputs.tag }} .
          sudo docker build --push --build-arg PROOFTYPE=disclose -f Dockerfile.tee --target=instance -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-disclose-instance:${{ inputs.tag }} .
          sudo docker build --push --build-arg PROOFTYPE=dsc      -f Dockerfile.tee --target=instance -t ${{ secrets.DOCKER_ORGANIZATION }}/tee-server-dsc-instance:${{ inputs.tag }} .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: measurements
          path: measurements
